@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the web gardener</h1>
    <p>Monitor your trees in your communities, and get a report on how it is going with nature. 
        The smart sensors monitor the trees, and makes it easy for you to get data on their condition.</p>
    <img src="images/tree.jpg"/>
</div>
